<div class="span12">
	<h2>About Us</h2>
	<p>
		LatamLeap was founded in 2012 by a Chilean entrepreneur and civil engineer who has successfully developed his own business; a Chilean computer scientist with successful track of coordinating and executing national wide innovation IT projects; and a native North American investment Banker who works in Chile with a focus on Latin America and experience in fundraising and early stage technology companies.
	</p>
	<p>
		There is a disconnect between Latin American entrepreneurship and global funding.  The region is in the midst of an economic boom, and innovation is abound, however North American and European venture capitalists and angel investors are largely unfamiliar with Latin America’s entrepreneur and startup landscape and as a result they are not prioritizing Central and South America as a place to invest.  LatamLeap bridges the gap between Latin American innovation and global investment by creating a platform that will facilitate effective communications between investors and entrepreneurs. Quality control and data organization creates a fluid on-line experience enabling VC and Angel investors to quickly identify Latin American entrepreneurs and early stage companies that have the specific characteristics they are looking for – providing access to high quality investment potentials in the region that may otherwise be difficult to find.
	</p>
	<p>
		For the Entrepreneur/Startup Company, LatamLeap is a place to (1) articulate their efforts before an audience of potential angel and venture capital investors who have a specific interest in Latin America; (2) gain access to fundraising tutorials for startups, example pitch books &amp; fundraising presentations, and investor term sheets; and (3) interact with a community of Latin American peers about ideas, challenges and paths to success for Latin American entrepreneurs and start-up companies.
	</p>
</div>